<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Telephone</th>
      <th>Link To Website</th>
    </tr>
    <tr *ngFor="let foodPlace of foodPlaces">
      <td>
        <a [routerLink]="['/admin/view-food-place',foodPlace.foodPlaceID]">{{foodPlace.name}}</a>
       <!-- {{foodPlace.name}}-->
      </td>
      <td>
        {{foodPlace.address}}
      </td>
      <td>
        {{foodPlace.telephone}}
      </td>
      <td>
        {{foodPlace.linkToWebsite}}
      </td>
    </tr>
  </table>
</div>
