<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Telephone</th>
      <th>Link To Website</th>
      <th>Food Rating</th>
      <th>Value Rating</th>
      <th>Overall Rating</th>
    </tr>
    <tr *ngFor="let foodPlace of foodPlaces">
      <td>
        {{foodPlace.name}}
      </td>
      <td>
        {{foodPlace.address}}
      </td>
      <td>
        {{foodPlace.telephone}}
      </td>
      <td>
        {{foodPlace.linkToWebsite}}
      </td>
      <td>
        {{foodPlace.foodRating}}
      </td>
      <td>
        {{foodPlace.valueRating}}
      </td>
      <td>
        {{foodPlace.overallRating}}
      </td>
    </tr>
  </table>
</div>
