<div class="site-wrapper">
  <div class="header-wrapper">
    <ul class="header-bar">
      <li class="logo">
        <div style="left:-30px;" class="musala_logo">
          <img src="https://www.openhabfoundation.org/logos/musala-soft.png"
               alt="musala-logo"
               id="musala-logo"
               width
                 ="45"
               height
                 ="45">
        </div>
      </li>
      <li class="dining-places-link" style="font-weight: bold; margin-left: 30px; padding-bottom:0">
        <a [routerLink]= ['/diningPlaces']>Dining Places</a></li>
      <li style="float:right"><a class="sign-up-link">Sign Up</a></li>
      <li style="float:right"><a class="login-link">Login</a></li>
    </ul>
  </div>
  <div class="Text-wrapper">
    <br>
    <div class="title" style="text-align:center">
      <h1>
        {{ title }}
      </h1>
    </div>
    <div class="text" style="text-align: center">
      <p>
        Hello fellow Musala colleagues, are you struggling to decide where to eat and its almost if not already
        lunchtime? Then you have come to the right place! Just click on the generate button to randomly generate
        a place to eat!<br>
        <br>
        Abrakadabra! Problem Solved!
      </p>
    </div>
    <div class="generate-btn-wrapper">
      <button type="button" (click)=onclickGenButton() class="generate-btn">
        Generate!
      </button>
    </div>
    <br> <br>
  </div>
</div>
