<h2>Employee Details</h2>

<hr/>
<div *ngIf="foodPlace">
  <div>
    <label><b>Name: </b></label> {{foodPlace.name}}
  </div>
  <div>
    <label><b>Address: </b></label> {{foodPlace.address}}
  </div>
  <div>
    <label><b>Telephone: </b></label> {{foodPlace.telephone}}
  </div>
  <div>
    <label><b>Link To Website: </b></label> {{foodPlace.linkToWebsite}}
  </div>
  <div>
    <label><b>Value Rating: </b></label> {{foodPlace.valueRating}}
  </div>
  <div>
    <label><b>Food Rating: </b></label> {{foodPlace.foodRating}}
  </div>
  <div>
    <label><b>Overall Rating: </b></label> {{foodPlace.overallRating}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Food Place List</button><br>
