<div class="container">
  <div class="row">
    <a class="btn btn=primary" routerLink="/admin">Back to List</a>
  </div>
  <div>
    <div class="form-group">
      <label>Name: </label>
      <div class="form-control">{{foodPlace.name}}</div>
    </div>
    <div class="form-group">
      <label>Address: </label>
      <div class="form-control">{{foodPlace.address}}</div>
    </div>
    <div class="form-group">
      <label>Phone: </label>
      <div class="form-control">{{foodPlace.telephone}}</div>
    </div>
    <div class="form-group">
      <label>Link To Website: </label>
      <div class="form-control">{{foodPlace.linkToWebsite}}</div>
    </div>
    <div class="form-group">
      <label>Food Rating: </label>
      <div class="form-control">{{foodPlace.foodRating}}</div>
    </div>
    <div class="form-group">
      <label>Value Rating: </label>
      <div class="form-control">{{foodPlace.valueRating}}</div>
    </div>
    <div class="form-group">
      <label>Overall Rating: </label>
      <div class="form-control">{{foodPlace.overallRating}}</div>
    </div>
  </div>
</div>
