<div class="site-wrapper">
  <div class="text-wrap">
    <br>
    <div class="title-class" style="text-align:center">
      <h1>
        {{ title }}
      </h1>
    </div>
    <div class="container-table">
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Telephone</th>
          <th>Link To Website</th>
        </tr>
        <tr *ngFor="let foodPlace of foodPlaces">
          <td>
            <nav>
            <a [routerLink]="['/dining-places-list/view-food-place',foodPlace.foodPlaceID]">{{foodPlace.name}}</a>
            </nav>
          </td>
          <td>
            {{foodPlace.address}}
          </td>
          <td>
            {{foodPlace.telephone}}
          </td>
          <td>
            <a href="{{foodPlace.linkToWebsite}}">
              {{foodPlace.linkToWebsite}}
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
