<div class="header-wrapper">
  <ul class="header-bar">
    <li class="logo">
      <div style="left:-30px;" class="musala_logo">
        <img src="https://www.openhabfoundation.org/logos/musala-soft.png"
             alt="musala-logo"
             id="musala-logo"
             width
               ="45"
             height
               ="45"
             [routerLink]="['']">
      </div>
    </li>
    <li class="dining-places-link" style="font-weight: bold; margin-left: 30px; padding-bottom:0">
      <a [routerLink]="['dining-places-list/dining-places']" class="get-all-dining-link" >Dining Places</a>
    </li>
    <li class="accounts-link" style="font-weight: bold; margin-left: 0; padding-bottom:0">
      <a class="get-all-accounts-link" >Accounts</a>
    </li>
    <li style="float:right">
      <a class="sign-up-link">Sign Up</a>
    </li>
    <li style="float:right">
      <a class="login-link">Login</a>
    </li>
  </ul>
</div>
